<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929690825285-fk0peollkemnbqg7u4q89r89e65v53kl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929690825285-fk0peollkemnbqg7u4q89r89e65v53kl</string>
	<key>API_KEY</key>
	<string>AIzaSyAA_M2UAojnu7RgFScv8IGc568_aBicp-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>929690825285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter7challenge</string>
	<key>PROJECT_ID</key>
	<string>challenge-ef02d</string>
	<key>STORAGE_BUCKET</key>
	<string>challenge-ef02d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929690825285:ios:a2d0eccfe53b6889cba92c</string>
</dict>
</plist>